* {
    margin: 0;
    padding: 0;
    padding-right: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e599;
}

a {
    color: #e5e5e5;
    /*color: #ea5455;*/
}

.center {
    text-align: center;
}

.k-font {
    font-family: 'Reem Kufi';
}

.navbar-toggler {
    background: #ea5455;
}

a:hover {
    color: white;
    transition: .1s;
}

.nav-background {
    background: #ea5455;
    margin-bottom: 20px;
}

.btn-custom{
    color: #e5e5e5;
    background-color: #ea5455dd;
}

.btn-custom:hover{
    color: #e5e5e5;
    background-color: #ea5455;
    transition: .3s;
}

.darkblue{
    background: #2d4059;
    color: #e5e5e5;
}

i{
    padding-left: 2px;
    padding-right: 2px;
}
