* {
    margin: 0;
    padding: 0;
    padding-right: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
}

a {
    color: #e5e5e5;
    /*color: #ea5455;*/
}

.center {
    text-align: center;
}

.k-font {
    font-family: 'Reem Kufi';
}

.navbar-toggler {
    background: #ea5455;
}

a:hover {
    color: #ea5455;
    transition: .3s;
}

.nav-background {
    background: #2d4059;
    margin-bottom: 20px;
}

.btn-custom {
    border-radius: 20px;
    border: 2px solid #ea5455;
    color: #ea5455;
    background-color: #e5e5e5;
    transition: .3s;
}
.btn-custom:hover{
    color: #e5e5e5;
    background-color: #ea5455;
}

.radiobutton{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.darkblue{
    background-color: #2d4059;
}